<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanil.edubot.module.admin.user.UserMapper">

    <resultMap id="userResult" type="user">
        <result property="idx" column="idx" />
        <result property="company.companyIdx" column="company_idx"/>
        <result property="company.companyName" column="company_name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="role" column="role"/>
        <result property="approvalYn" column="approval_yn"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="selectUserId" resultMap="userResult">
        SELECT a.*, b.idx AS company_idx, b.company_name
        FROM tb_user a
        INNER JOIN tb_company b ON a.company_idx = b.idx
        where a.username = #{username};
    </select>




</mapper>



