<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanil.edubot.module.member.member.MemberMapper">

    <resultMap id="memberResult" type="member">
        <result property="idx" column="idx" />
        <result property="company.companyIdx" column="company_idx"/>
        <result property="company.companyName" column="company_name"/>
        <result property="company.center.centerIdx" column="center_idx"/>
        <result property="company.center.centerName" column="center_name"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="approvalYn" column="approval_yn"/>
        <result property="createdAt" column="created_at"/>

    </resultMap>

    <select id="selectMemberId" resultMap="memberResult">
        SELECT a.*, b.idx AS center_idx, b.center_name, c.idx AS company_idx, c.company_name
        FROM tb_member a
        INNER JOIN tb_center b ON a.center_idx = b.idx
        INNER JOIN tb_company c ON b.company_idx = c.idx
        where a.username = #{username};
    </select>




</mapper>



