
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0, user-scalable=no, target-densitydpi=medium-dpi" />
	<meta name="format-detection" content="telephone=no,address=no,email=no">
	<!-- 캐쉬 삭제  -->
	<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<!-- 캐쉬 삭제  -->
	<title>VOICE AGENT / 비밀번호 변경</title>
	<!-------- css -->
	<link rel="stylesheet" th:href="@{/css/common.css}"/>
	<link rel="stylesheet" th:href="@{/css/page.css}"/>
</head>
<body>
	<form action="/pwModify" method="post">
		<div class="wrap_app login">
			<div class="login_visual">
				<div class="login_img"><img src="../../images/ico/login_visual.png"></div>
				<div class="login_info">
					<p class="login_title" style="font-size: 24px;">비밀번호 변경하기</p>
				</div>
			</div>
			<div class="login_form">
				<ul class="ipt_list m-tAuto">
					<li class="ipt">
						<label>새 비밀번호</label>
						<input type="password" placeholder="숫자 4자리 입력 " maxlength="5" id="new_password" name="password">
						<p class="helper"></p>
					</li>
					<li class="ipt">
						<label>비밀번호 확인</label>
						<input type="password" placeholder="숫자 4자리 입력 " maxlength="5" id="confirm_password">
						<p class="helper"></p>
					</li>
				</ul>
				<button type="submit" class="btn_p" id="pw_modify_btn" disabled>비밀번호 변경</button>
			</div>
			<!--//login_form-->
		</div>
		<!--//wrap_app-->
	</form>


	<script th:src="@{/js/jquery-3.6.0.js}"></script>
	<script>

		document.getElementById("new_password").addEventListener('input',function(e){

			const onlyNumber = /[^0-9]/g;

			if(onlyNumber.test(this.value)){
				alert("숫자만 입력가능합니다.");
				this.value = this.value.replace(onlyNumber,"");
			}

			if(this.value.length == 4)
				document.getElementById("confirm_password").focus();

		});

		$("#confirm_password").keyup(function(){

			if($(this).val().length == 4){
				if($("#new_password").val() == $(this).val()){
					$("#pw_modify_btn").removeAttr("disabled");
					$("#pw_modify_btn").focus();
				} else {
					alert("비밀번호가 일치하지 않습니다.");
					$("#confirm_password").val("");
					return;
				}

			}
		});

	</script>
</body>
</html>